<div id="page-stories" data-page-stories>
	<div data-role="header">
		<a href="#" class="btn-nav"><img src="<%= asset_path 'm/btn_dft_avatar.png' %>" class="avatar"></a>
		<h1><img src="<%= asset_path 'm/app_logo.png' %>"></h1>
		<a href="#" class="btn-nav"><img src="<%= asset_path 'm/btn_add.png' %>" class="button-create"></a>
	</div>
	
	<div class="nav-bar">
		<form>
			<fieldset data-role="controlgroup" data-type="horizontal">
				<input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="on" checked="checked">
				<label for="radio-choice-h-2a" class="checked">地图</label>
				<input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="off">
				<label for="radio-choice-h-2b">列表</label>
			</fieldset>
		</form>
		
		<input type="search" name="password" id="search" value="" placeholder="搜索路线">
		<i class="icon-search"></i>
	</div>
	
	<div class="map-container" id="map-container" unselectable="on">
	</div>

	<div class="list-container" id="list-container">
		<ul data-role="listview">
			<% @stories.each do |s| %>
			<li>
				<a href="/m/stories/1" data-transition="slide" data-inline="true">
					<img src="<%= s.static_map_url_baidu %>" class="map-thumb">
					<div class="story-profile">
						<h3 class="title"><%= s.title %></h3>
						<div class="story-desc">
							<img src="<%= asset_path 'm/type_cycling.png' %>">
							<p><span>里程: <%= s.total_distance_km %>km</span><span>难度系数: <%= s.difficulty_index %></span></p>
						</div>
					</div>
		 		</a>
			</li>
			<% end %>
			<%# asset_path 'm/type_hiking.png' %>
		</ul>
	</div>
</div>
<script type="text/html" id="tpl-story-info">
	<img src="/assets/m/type_cycling.png">
	<span>里程: {{ total_distance_km }}</span>
	<span>难度系数: {{ difficulty_index }}</span>
</script>
<input type="hidden" id="by-bounds-url" value="<%= by_bounds_stories_path format: :json %>" />