
<div class="pg-story">
	<div class="bg" data-url="<%= random_cover(@story) %>"></div>
	<div class="center">
		<div class="header">
			<h1 class="logo">
				<%= link_to "Road.路", root_path %>
			</h1>
			<h2 class="story-title"><%= @story.title %></h2>
			<span class="like">116</span>
		</div>
		<div class="map-container" id="map-container">
			<div class="loading">正在加载百度地图</div>
		</div>
		<div class="chart" id="chart"></div>
		<div class="info">
			<table cellspacing="0">
				<thead>
					<tr>
						<th>里程</th>
						<th>总爬升</th>
						<th>总下降</th>
						<th class="difficulty">难度系数<%= link_to "这是什么？", "", class: "what" %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @story.total_distance_km %></td>
						<td><%= @story.total_climbing_m %></td>
						<td><%= @story.total_descending_m %></td>
						<td class="difficulty"><%= @story.difficulty_index %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="images">
			<ul>
				<% @story.photos.each do |photo| %>
					<li>
						<a href="javascript:;">
							<img src="<%= photo.attachment %>" />
						</a>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="intro">
			<%= @story.content %>
		</div>
		<div class="main">
			<div class="comments">
			    <div id="disqus_thread"></div>
			    <script type="text/javascript">
			        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			        var disqus_shortname = 'roadlu'; // required: replace example with your forum shortname

			        /* * * DON'T EDIT BELOW THIS LINE * * */
			        (function() {
			            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			        })();
			    </script>
			    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			</div>
			<div class="share">
				<div class="export">
					<h5>导出</h5>
					<ul>
						<li>
							<a href="">导出GPX</a>
						</li>
						<li>
							<a href="">导出KML</a>
						</li>
					</ul>
				</div>
				<div class="related-links">
					<h5>相关链接</h5>
					<ul>
						<li>
							<a href="">需找</a>
						</li>
						<li>
							<a href="">需找</a>
						</li>
						<li>
							<a href="">需找</a>
						</li>
						<li>
							<a href="">需找</a>
						</li>
					</ul>
				</div>
				<div class="quote">
					<h5>
						引用
					</h5>
					<ul>
						<li>
							<a href="">引用到论坛</a>
						</li>
						<li>
							<a href="">引用到论坛</a>
						</li>
					</ul>
				</div>
				<div class="share-social">
					<h5>分享</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var storyNodes = <%= @story.path_nodes.to_json.html_safe %>
</script>
<% content_for :scripts do %>
	<%= javascript_include_tag "pg-story" %>
<% end %>

<%= link_to "edit", edit_story_path(@story) %>
