
<div class="pg-story">
	<div class="bg-static">
		<div class="bg" data-url="<%= asset_path 'story-bg.jpg' %>"></div>
	</div>
	<div class="center">
		<div class="header">
			<h1 class="logo">
				<%= link_to "Road.路", root_path %>
			</h1>
			<h2 class="story-title"><%= @story.title %></h2>
			<a class="like" href="#" title="赞！"><i class="icon-heart"></i> <em>116</em></a>
		</div>
		<div class="map-container" id="map-container">
			<div class="loading">正在加载百度地图</div>
		</div>
		<div class="chart" id="chart"></div>
		<div class="info">
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="data-label-d"><i class="icon-road"></i> 里程</th>
						<th class="data-label-cli"><img src="<%= asset_path "web_icn_climbing.png" %>" /> 总爬升</th>
						<th class="data-label-des"><img src="<%= asset_path "web_icon_decending.png" %>" /> 总下降</th>
						<th class="difficulty"><i class="icon-trophy"></i> 难度系数 <%= link_to "(?)", "http://www.climbbybike.com/climb_difficulty.asp", class: "what", title: "点击了解「难度系数」的相关介绍和计算方法", target: "_blank" %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @story.total_distance_km %> km</td>
						<td><%= @story.total_climbing_m %> m</td>
						<td><%= @story.total_descending_m %> m</td>
						<td class="difficulty"><%= @story.difficulty_index %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="images">
			<ul>
				<% @story.photos.each do |photo| %>
					<li>
						<a href="javascript:;">
							<img src="<%= photo.attachment %>" />
						</a>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="intro">
			<%= @story.content %>
			
			<div class="intro-action">
				<div class="copy-cc">
					<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.zh"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.zh">知识共享署名-相同方式共享 3.0 未本地化版本许可协议</a>进行许可
				</div>
				<%= link_to "有关于本路线的信息补充？点此编辑", edit_story_path(@story), class: "edit-btn" %>
			</div>
		</div>
		
		<div class="main">
			<div class="comments">
			    <div id="disqus_thread"></div>
			    <script type="text/javascript">
			        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			        var disqus_shortname = 'roadlu'; // required: replace example with your forum shortname

			        /* * * DON'T EDIT BELOW THIS LINE * * */
			        (function() {
			            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			        })();
			    </script>
			    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			</div>
			<div class="share">
				<div class="export">
					<h5>导出</h5>
					<ul>
						<li>
							<a href=""><i class="icon-location-arrow"></i> 以 GPX 格式导出</a>
						</li>
						<li>
							<a href=""><i class="icon-globe"></i> 以 KML 格式导出</a>
						</li>
						<li>
							<a href=""><i class="icon-download"></i> 以 Garmin 设备格式导出</a>
						</li>
					</ul>
				</div>
				<div class="related-links">
					<h5>相关链接</h5>
					<ul>
						<li>
							<a href="">上周六去龙泉爬坡的一些照片</a>
						</li>
						<li>
							<a href="">总算成功挑战龙泉山了</a>
						</li>
						<li>
							<a href="">龙泉山周六整个山上堵人了</a>
						</li>
					</ul>
				</div>
				<div class="quote">
					<h5>
						引用
					</h5>
					<ul>
						<li>
							<a href=""><i class="icon-comments"></i> 引用到论坛（BBCode）</a>
						</li>
						<li>
							<a href=""><i class="icon-rss-sign"></i> 引用到博客（HTML）</a>
						</li>
					</ul>
				</div>
				<div class="share-social">
					<h5>分享</h5>
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
						<a class="addthis_button_baidu"></a>
						<a class="addthis_button_twitter"></a>
						<a class="addthis_button_facebook"></a>
						<a class="addthis_button_compact"></a>
						<a class="addthis_counter addthis_bubble_style"></a>
					</div>
					<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=maklu"></script>
					<!-- AddThis Button END -->
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var storyNodes = <%= @story.path_nodes.to_json.html_safe %>
	var poiNodes = <%= @story.pois.to_json.html_safe %>
</script>
</script>
<% content_for :scripts do %>
	<%= javascript_include_tag "pg-story" %>
<% end %>
