<div id="page-signin" data-page-signin>
	<div data-role="header">
		<h1>登录</h1>
		<a href="#" class="btn-nav"><i class="icon-angle-right"></i></a>
	</div>

	<div class="container">
		<div class="sigin-blah">
			<p class="signin-desc">你可以使用以下帐号登录</p>
			<ul class="signin-list">
				<li><a href="" data-transition="slide" data-inline="true">
					<img src="<%= asset_path 'm/app_signin_bd.png' %>" alt=""></a>
				</li>
				<li>
					<a href="" data-transition="slide" data-inline="true"><img src="<%= asset_path 'm/app_signin_sw.png' %>" alt=""></a>
				</li>
				<li>
					<a href="" data-transition="slide" data-inline="true"><img src="<%= asset_path 'm/app_signin_tx.png' %>" alt=""></a>
				</li>
				<li>
					<a href="" data-transition="slide" data-inline="true"><img src="<%= asset_path 'm/app_signin_tt.png' %>" alt=""></a>
				</li>
				<li>
					<a href="" data-transition="slide" data-inline="true"><img src="<%= asset_path 'm/app_signin_fb.png' %>" alt=""></a>
				</li>
			</ul>
				</div>
		</div>
</div>