<div id="page-signin" data-page-signin>
	<div data-role="header" data-position="fixed">
		<a href="#" class="btn-nav"></a>
		<h1>登录</h1>
		<a href="/m/stories/" class="btn-nav"><i class="icon-angle-right"></i></a>
	</div>

	<div class="container page-signin">
		<div class="signin-blah">
			<p class="signin-desc">你可以使用以下帐号登录</p>
			<ul class="signin-list">
				<li><a href="" data-theme="d" data-textonly="false" data-textvisible="false" data-msgtext="" data-inline="true">
					<img src="<%= asset_path 'm/app_signin_bd.png' %>"></a>
				</li>
				<li>
					<a href="" data-transition="slide" data-inline="true"><img src="<%= asset_path 'm/app_signin_sw.png' %>" alt=""></a>
				</li>
				<li>
					<a href="" data-transition="slide" data-inline="true"><img src="<%= asset_path 'm/app_signin_tw.png' %>" alt=""></a>
				</li>
				<li>
					<a href="" data-transition="slide" data-inline="true"><img src="<%= asset_path 'm/app_signin_tt.png' %>" alt=""></a>
				</li>
				<li>
					<a href="" data-transition="slide" data-inline="true"><img src="<%= asset_path 'm/app_signin_fb.png' %>" alt=""></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container page-signin-show">
		<p>探索<i class="icon-angle-right"></i></p>
		<p>我创建的路线 （5）<i class="icon-angle-right"></i></p>
		<p>我 <i class="icon-heart"></i> 的路线 （12）<i class="icon-angle-right"></i></p>
		<p class="exist">退出登录</p>
		<p>
			<a href="" class="feedback">意见反馈</a>
		</p>
	</div>
</div>
